<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
      <nav class="">
        <div class="">
          <div class="" id="">
            <ul class="">
              <li class="nav-item">
                <a class=""  href="{% url 'customers:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 1 %}">Change Weekly Pickup Day</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 2 %}">Suspend My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 3 %}">One Time Pickup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'customers:edit' 4 %}">Edit Account Info</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>    
    
    {% elif group.name == "Employees" %}
      <nav class="">
        <div class="">
          <a class="navbar-brand" href="#">Municipal Trash Collection</a>
          <div class="" id="">
            <ul class="">
              <li class="nav-item">
                <a class=""  href="{% url 'employees:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'employees:daily' %}">Weekly View</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% endif %}
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}